{% extends "homepage.html" %}
{% block title %}Extrovert{% endblock %}
{% block head %}Student{% endblock %}
{% block content %}
    <form method="post">
        <input type="submit" value="Slow down" name="slowbtn" class="button"
               style="background-color: #33658C;
                font-family: ITC Eras Light;
                text-align: center;
                display: inline-block;
                margin-top: 50px;
                width: 550px;
                height: 80px;
                font-size: 40px;
                color: #E2F8F9;
                border: none;
                padding: 20px 32px;
                border-radius: 5px; vertical-align: middle">
    </form> <!--slow down knappen-->
{% endblock %}

