{% extends "homepage.html" %}
{% block title %}Extrovert{% endblock %}
{% block head %}Student{% endblock %}
{% block content %}
    <form method="post">
        <input type="submit" value="Slow down" name="slowbtn" class="button"
               style="background-color: #33658C;
                font-family: ITC Eras Light;
                text-align: center;
                display: inline-block;
                margin-top: 50px;
                width: 550px;
                height: 80px;
                font-size: 40px;
                color: #E2F8F9;
                border: none;
                padding: 20px 32px;
                border-radius: 5px; vertical-align: middle">
    </form> <!--slow down knappen-->
    {{ feedback }} <!-- hvis du har trykket på slow down knappen-->
    <form action="" method="post">
        <tr id="labels"><td style="padding-top: 20px;">{{ form.question }} <!-- det er den hvite boksen du skriver i-->
        <input type="submit" name="slowbtn" value="Send question" /> <!-- knappen for å sende inn spørsmål-->
    </form>
    <div style="width: 700px; height: 500px; background-color: #fff; border: 1px solid #3B7FAC; padding: 10px; position: relative; display: inline-block; vertical-align: middle; top: 45%;  overflow: scroll;">
    {% for question in questions %}
        {% for part in question%}
            <div style="font-family: Ayuthaya; font-size: 20px; padding: 2px;" >{{ part }} <br>
            </div>
            <!--teksten ble skrevet i en div, for å gjøre det lettere å style den -part- er spørsmålet som har stilt-->
        {% endfor %}
    {% endfor %}
    </div>
    <!-- her kommer spørsmålene studenten skriver opp i en boks, all style er definert i starten av diven-->
{% endblock %}


