{% extends "homepage.html" %}
{% block title %}Extrovert{% endblock %}
{% block head %}Teacher
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var djangoData = {{ array|safe }};
      var data = google.visualization.arrayToDataTable(djangoData);
      var options = {
          title: 'Student feedback timeline',
          curveType: 'function',
          legend: { position: 'bottom' },
          vAxis: {viewWindowMode: "explicit", viewWindow:{ min: 0 }}
        };
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);
    }
    </script>
{% endblock %}
{% block content %}
    <div style="width: 1210px; height: 500px; border: solid 1px #33658C; position: absolute; left: 17%;">
        <div style="width: 600px; height: 500px; background-color: #fff; position: absolute; right: 0%;">
            <p style="font-size: 40px;">Slowdown requests last minute:</p>
            <h2 style="color: #33658C; font-size: 120px; text-shadow: 2px 2px #052944; text-align: center;">{{ count }}</h2>
        </div>
        <!-- telleren som forteller hvor mange som synes forelesningen går for raskt-->
        <div style=" background-color: #fff; width: 610px; position:absolute;">
            <p style="font-size: 20px; text-align: left; padding-left: 20px; padding-top: 8px;">Start time = {{start_time}}</p>
        </div>
        <div id="curve_chart" style="width: 610px; height: 450px; bottom: 0%; position:absolute;"></div>
    </div>
    <meta http-equiv="refresh" content="10" >

    {% for question in questions %}
        {% for part in question%}
            {{ part }} <br>
        {% endfor %}
    {% endfor %}

{% endblock %}


