{% extends "homepage.html" %}
{% block title %}Extrovert{% endblock %}
{% block head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var djangoData = {{ array|safe }};
      var data = google.visualization.arrayToDataTable(djangoData);

      var options = {
          title: 'Student feedback timeline',
          curveType: 'function',
          legend: { position: 'bottom' },
          vAxis: {viewWindowMode: "explicit", viewWindow:{ min: 0 }}
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
    }
    </script>
{% endblock %}
{% block content %}
    <div id="curve_chart" style="width: 600px; height: 400px; top:400px; left:600px;"></div>
{% endblock %}

