
body {
     background-image: url("bakgrunn.jpg");
     background-repeat:no-repeat;
     background-size:cover;
     background-color: #E2F8F9;
}

#header {
    font-family: "Bodoni 72 Oldstyle";
    font-weight: bold;
    font-size: 70px;
    color: #052944;
    text-align: center;
    margin-top: 40px;
}
#knapper {
    text-align: center;
    margin-top: 100px;
}

.button {
    background-color: #33658C;
    font-family: "ITC Eras Light", Eras;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
    width: 550px;
    font-size: 60px;
    color: #E2F8F9;
    border: none;
    padding: 20px 32px;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}
#slowdownBtn {
    background-color: #E2F8F9;
}

#counter {
    font-family: "ITC Eras Light", Eras;
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
}