{% load static %}
<html>
    <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Django Login Application |
        {% block title %}{% endblock %}</title>
    </head>
    <body>
    <div id="header" ><a href="/">Extrovert</a>
    <form action="/register">
        <button class="register">Register</button>
    </form>
    <form action="/login">
        <button class="login">Login</button>
    </form>
    </div>
    <br><br><br><p>{% block head %}{% endblock %}</p>
    <div style="text-align: center; padding-top: 10px;">{% block content %}{% endblock %}</div>

    </body>
</html>