{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Homepage |
        {% block title %}{% endblock %}</title>
</head>
<body>
<div id="header">Extrovert
    <form action="/course">
        <button class="Register" >Join/Create course</button>
    </form>
    <form action="/logout">
        <button class="Login" >Sign out</button>
    </form>
</div>
<br><br><br><p>{% block head %}{% endblock %}</p>
<div style="text-align: center; padding-top: 10px;">{% block content %}{% endblock %}</div>

</body>
</html>