{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Homepage |
        {% block title %}{% endblock %}</title>
</head>
<body>
<div id="header"><a href="/home">Extrovert</a>
    <form action="/logout">
        <button class="Login" >Sign out</button>
    </form>
    <form action="courses">
        <div style="text-align: center; padding-top:100px;">
            <button class="button">Create course</button>
            <button class="button">Join course</button>
        </div>
    </form>
</div>
<br><br><br><p>{% block head %}{% endblock %}</p>
<div style="text-align: center; padding-top: 10px;">
    {% block content %}
        <body>
        <form id="classes" method="post" action="/usersites/">
            <input type="submit" name="student" value="student join ex." />
            <input type="submit" name="teacher" value="teacher join ex." />
        </form>
        </body>
    {% endblock %}</div>

</body>
</html>