{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Extrovert</h1>
     <div id="header">Extrovert
         <form action="register">
          <button class="register">Register</button>
         </form>
        <div class="dropdown">
            <form action="login">
                <button class="login">Login</button>
         </form>
        </div>
     </div>


    <div id="mainpic"><img src="../static/image/forsidebilde.png"></div>
</body>
</html>