body {
    background: url("../image/bakgrunn.jpg");
     background-repeat:no-repeat;
     background-size:cover;
     background-color: #E2F8F9;
}

/*------------------------------REGISTERFORM-------------------------------------------------*/
input[type=submit] { /*style for register button in registerform*/
    width: 150px;
    height: 35px;
    font-size: 17px;
    color: #fff;
    background-color: #21537A;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    border: none;
    padding: 5px;
    border-radius: 3px;
}

#labels{ /*style for all labels. ex: register-labels like username, email etc.*/
    font-family: Arial;
    color: #052944;
    font-size: 18px;
}
#id_username, #id_email, #id_password1, #id_password2, #id_question{ /*to style registerform*/
    display: inline-block;
    width: 300px;
    height: 35px;
    font-size: 14px;
    border: none;
    padding: 5px;
    border-radius: 3px;
}
#inputfield{ /*style for registerform*/
    display: inline-block;
    width: 300px;
    height: 35px;
    font-size: 14px;
    border: none;
    padding: 5px;
    border-radius: 3px;
}

table{ /*to make forms work, ex: register*/
    font-family: "Bodoni 72 Oldstyle";
    color: #052944;
    display: inline-block;
    padding: 0px;
}
/*------------------------------------------HEADER-------------------------------------*/
.register { /*register-button in header*/
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 175px;
    background-color: #33658C;
    border-color: #21537A;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    font-family: "Arial";
    text-align: center;
    display: inline-block;
    font-size: 18px;
    height: 70px;
    width: 100px;
    color: #fff;
    padding: 10px 20px;
}
.login { /*login button in header*/
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 70px;
    background-color: #33658C;
    border-color: #21537A;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    font-family: "Arial";
    text-align: center;
    display: inline-block;
    font-size: 18px;
    height: 70px;
    width: 100px;
    color: #fff;
    padding: 10px 20px;
    border-right: 1px solid #21537A;
}
#header { /*the blue line at the top with title, login and register buttons*/
    position: fixed;
    min-width: auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1030;
    height: 70px;
    background-color: #33658C;
    font-family: "Bodoni 72 Oldstyle";
    font-weight: bold;
    font-size: 50px;
    color: #052944;
    border-bottom: 1px solid #21537A;
    padding-left: 20px;
}
a { /*style on extrovert-logo in upper-left corner*/
    font-family: "Bodoni 72 Oldstyle";
    font-weight: bold;
    font-size: 50px;
    color: #052944;
    text-decoration: none;
}
/*--------------------------------------MAIN PAGE--------------------------------------*/
#mainpic { /*main picture on index-page*/
    text-align: center;
    margin-top: 200px;
}

.button { /*different buttons*/
    background-color: #33658C;
    font-family: "ITC Eras Light", Eras;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
    width: 550px;
    font-size: 60px;
    color: #E2F8F9;
    border: none;
    padding: 20px 32px;
    border-radius: 5px;
}
/*---------------------------------DIFFERENT TEXT STYLES----------------------------*/
p {
    font-family: "Bodoni 72 Oldstyle";
    font-size: 40px;
    text-align: center;
    color: #052944;
    font-weight: bold;
}
h1{
    font-family: "Bodoni 72 Oldstyle";
    font-size: 60px;
    color: #33658C;
    text-align: center;
}
h2{
    font-family: "Times New Roman";
    font-size: 50px;
    color: #052944;
    text-align: center;
}