{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}Login{% endblock %}
{% block content %}
    <html>
        <head>
            <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
            <title>Login</title>
        </head>

        <body>

            <form id="login_form" method="post" action="/login/">
                {% csrf_token %}
                <table>
                    <tr><td id="labels">Username: </td></tr>
                    <tr><td id="inputfield"><input type="text" name="username" size="50" style="display: inline-block; width: 300px; height: 35px; font-size: 14px; border: none; padding: 5px; border-radius: 3px;"/></td></tr>
                    <tr><td id="labels" style="padding-top: 20px;">Password: </td></tr>
                    <tr><td id="inputfield"><input type="password" name="password" size="50"  style="display: inline-block; width: 300px; height: 35px;font-size: 14px; border: none; padding: 5px; border-radius: 3px;"/></td></tr>
                </table>

                <br>

                <input type="submit" value="login" />
            </form>
        </body>
    </html>
{% endblock %}